# Tænder Apache's rewrite-engine, så URL'er kan omskrives til interne PHP-filer
RewriteEngine On

# -----------------------------
# SPECIFIKKE ROUTES

# Går til page-index direkte når URL er tom (forsiden)
RewriteRule ^$  pages/page-index.php  [NC,L]
RewriteRule ^login$ pages/page-login.php [NC,L]
RewriteRule ^signup$ pages/page-signup.php [NC,L]
RewriteRule ^test$ pages/page-exam.php [NC,L]


# -----------------------------
# GENERIC EXTENSIONLESS ROUTING

# Kør kun rewrite hvis det IKKE er en rigtig fil (fx image, css, js osv)
RewriteCond %{REQUEST_FILENAME} !-f

# Kør kun rewrite hvis det IKKE er en rigtig mappe
RewriteCond %{REQUEST_FILENAME} !-d

# Tjekker om URL'en ikke er en billede, video, etc. og forhindrer omskrivning
RewriteCond %{REQUEST_URI} !(\.png|\.jpg|\.webp|\.gif|\.jpeg|\.zip|\.css|\.svg|\.js|\.pdf)$

# Laver friendly URL ved at tilføje .php og pages/ mappen (omskriver url til php-fil)
RewriteRule ^([^\.]+)$ pages/$1.php [NC,L]



# -----------------------------
# ERROR HANDLING

# Hvis siden ikke findes, redirect til custom 404-siden
ErrorDocument 404 /pages/page-404.php