# Tænder Apache's rewrite-engine, så URL'er kan omskrives
RewriteEngine On


# Går til page-index direkte når URL er tom (forsiden)
RewriteRule ^$  pages/page-index.php  [NC,L]
RewriteRule ^login$ pages/page-login.php [NC,L]
RewriteRule ^signup$ pages/page-signup.php [NC,L]

# Generic extensionless PHP routing

# Tjekker om den ønskede fil ikke allerede findes fysisk på serveren
RewriteCond %{REQUEST_FILENAME} !-f

# Tjekker om den ønskede mappe ikke allerede findes fysisk på serveren
RewriteCond %{REQUEST_FILENAME} !-d

# Tjekker om URL'en ikke er en billede, video, etc. og forhindrer omskrivning
RewriteCond %{REQUEST_URI} !(\.png|\.jpg|\.webp|\.gif|\.jpeg|\.zip|\.css|\.svg|\.js|\.pdf)$

# Laver friendly URL ved at tilføje .php og pages/ sti
RewriteRule ^([^\.]+)$ pages/$1.php [NC,L]

# Hvis siden ikke findes, redirect til 404-siden
ErrorDocument 404 /pages/page-404.php